html {
    font-size: 12px;
}

body {
    font-size: 1rem;
    margin-top: 3.667rem;
    background: #f2f2f2;
}


input[type=radio] {
    z-index: 2;
    display: inline-block;
    vertical-align: middle;
    width: 1.7rem;
    height: 1.7rem;
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    outline: 0 !important;
    line-height: 1.7rem;
    color: #d8d8d8;
    z-index: 2;
}

input[type=radio]:after {
    z-index: 2;
    content: "";
    display: block;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    text-align: center;
    line-height: 1.166rem;
    font-size: 1rem;
    color: #fff;
    border: 3px solid #ddd;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 2;
}

input[type=radio]:checked:after {
    z-index: 2;
    content: "L";
    transform: matrix(-0.766044, -0.642788, -0.642788, 0.766044, 0, 0);
    -webkit-transform: matrix(-0.766044, -0.642788, -0.642788, 0.766044, 0, 0);
    border-color: #099414;
    background-color: #099414;
    z-index: 2;
    font-size: 1rem;
}


.top {
    width: 100%;
    position: fixed;
    top: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -khtml-justify-content: space-between;
    justify-content: space-between;
    padding: 1rem 1.25rem 1rem 0.833rem;
    box-sizing: border-box;
    background: #912941;
    color: #FFF;
    z-index: 9999;
}

.top a {
    color: #FFF;
    font-size: 1.167rem;
}

.top a span {
    color: #FFF;
    font-size: 1.333rem;
}

.top span {
    font-size: 1.167rem;
}

.addclient {
    font-size: 1.333rem;
    box-sizing: border-box;
    padding-top: 0.333rem;
}

.mes-list {
}

.mes-list ul {
}

.mes-list ul li {
    background: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -khtml-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: center;
    align-items: center;
    padding: 0.5rem 1.667rem;
    border-bottom: 0.083rem solid #ddd;

}

.mes-list ul li span {
    width: 11.667rem;
    text-align: right;
}

.mes-list ul li #name, #age, #Telephone, #Model, #Features, #retailpirces, #datas, #Cost, #hobby, #Birthday {
    width: 100%;
    height: 3rem;
    border-radius: 0.667rem;
    padding: 0rem 0.833rem;
    border: 0.083rem solid #ddd;
    background: none;
}

.mes-list ul li .shifou {
    width: 100%;
    height: 3rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.mes-list ul li .shifou label {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: center;
    align-items: center;
    margin-right: 1.667rem;
    width: 5.333rem;
    height: 3rem;
}

.mes-list ul li .shifou label .radios {
    margin-left: 0.833rem;
}

.mes-list ul li select {
    width: 100%;
    height: 3rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.btn {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -khtml-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: center;
    align-items: center;
    padding: 1.667rem 0rem;
    background: #f2f2f2;
}

.btn div a {
    font-size: 1.333rem;
    display: block;
    width: 12.917rem;
    height: 3.333rem;
    background: #912941;
    text-align: center;
    line-height: 3.333rem;
    color: #FFF;
}

@media screen and (max-width: 600px) {
    /*一栏布局*/
    body {
        font-size: 1rem;
        margin-top: 3.667rem;
        background: #f2f2f2;
    }

    input[type=radio] {
        z-index: 2;
        display: inline-block;
        vertical-align: middle;
        width: 1.7rem;
        height: 1.7rem;
        -webkit-appearance: none;
        background-color: transparent;
        border: 0;
        outline: 0 !important;
        line-height: 1.7rem;
        color: #d8d8d8;
        z-index: 2;
    }

    input[type=radio]:after {
        z-index: 2;
        content: "";
        display: block;
        width: 1.7rem;
        height: 1.7rem;
        border-radius: 50%;
        text-align: center;
        line-height: 1.166rem;
        font-size: 1rem;
        color: #fff;
        border: 3px solid #ddd;
        background-color: #fff;
        box-sizing: border-box;
        z-index: 2;

    }

    input[type=radio]:checked:after {
        z-index: 2;
        content: "L";
        transform: matrix(-0.766044, -0.642788, -0.642788, 0.766044, 0, 0);
        -webkit-transform: matrix(-0.766044, -0.642788, -0.642788, 0.766044, 0, 0);
        border-color: #099414;
        background-color: #099414;
        z-index: 2;
        font-size: 1rem;
    }

    .top {
        width: 100%;
        position: fixed;
        top: 0;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        -khtml-justify-content: space-between;
        justify-content: space-between;
        padding: 1rem 1.25rem 1rem 0.833rem;
        box-sizing: border-box;
        background: #912941;
        color: #FFF;
    }

    .top a {
        color: #FFF;
        font-size: 1.167rem;
    }

    .top a span {
        color: #FFF;
        font-size: 1.333rem;
    }

    .top span {
        font-size: 1.167rem;
    }

    .addclient {
        font-size: 1.333rem;
        box-sizing: border-box;
        padding-top: 0.333rem;
    }

    .mes-list {
    }

    .mes-list ul {
    }

    .mes-list ul li {
        background: #fff;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        -khtml-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        padding: 0.5rem 1.667rem;
        border-bottom: 0.083rem solid #ddd;

    }

    .mes-list ul li span {
        width: 11.667rem;
        text-align: right;
    }

    .mes-list ul li #name, #age, #Telephone, #Model, #Features, #retailpirces, #datas, #Cost, #hobby, #Birthday {
        width: 100%;
        height: 3rem;
        border-radius: 0.667rem;
        padding: 0rem 0.833rem;
        border: 0.083rem solid #dddddd;
        background: none;
    }

    .mes-list ul li .shifou {
        width: 100%;
        height: 3rem;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }

    .mes-list ul li .shifou label {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        margin-right: 1.667rem;
        width: 5.333rem;
        height: 3rem;
    }

    .mes-list ul li .shifou label .radios {
        margin-left: 0.833rem;
    }

    .mes-list ul li select {
        width: 100%;
        height: 3rem;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        background: none;
        border: 0.083rem solid #ddd;
        border-radius: 0.667rem;
    }

    .btn {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        -khtml-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        padding: 1.667rem 0rem;
        background: #f2f2f2;
    }

    .btn div a {
        font-size: 1.333rem;
        display: block;
        width: 12.917rem;
        height: 3.333rem;
        background: #912941;
        text-align: center;
        line-height: 3.333rem;
        color: #FFF;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /*二栏布局*/
    body {
        background: #f2f2f2;
        height: 100%;
        padding-top: 1.4rem;
    }
    input[type=radio] {
        z-index: 2;
        display: inline-block;
        vertical-align: middle;
        width: 1.7rem;
        height: 1.7rem;
        -webkit-appearance: none;
        background-color: transparent;
        border: 0;
        outline: 0 !important;
        line-height: 1.7rem;
        color: #d8d8d8;
    }

    input[type=radio]:after {
        z-index: 2;
        content: "";
        display: block;
        width: 1.7rem;
        height: 1.7rem;
        border-radius: 50%;
        text-align: center;
        line-height: 1.166rem;
        color: #fff;
        border: 3px solid #ddd;
        background-color: #fff;
        box-sizing: border-box;
        font-size: 1rem;
    }

    input[type=radio]:checked:after {
        content: "L";
        transform: matrix(-0.766044, -0.642788, -0.642788, 0.766044, 0, 0);
        -webkit-transform: matrix(-0.766044, -0.642788, -0.642788, 0.766044, 0, 0);
        border-color: #099414;
        background-color: #099414;
        z-index: 2;
        font-size: 1rem;
    }
    .top {
        width: 100%;
        position: fixed;
        top: 0;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        -khtml-justify-content: space-between;
        justify-content: space-between;
        padding: 1rem 1.25rem 1rem 0.833rem;
        box-sizing: border-box;
        background: #912941;
        color: #FFF;
        height: 5rem;
    }

    .top a {
        color: #FFF;
        font-size: 2.167rem;
    }

    .top a span {
        color: #FFF;
        font-size: 2.167rem;
    }

    .top span {
        font-size: 2.167rem;
    }

    .addclient {
        font-size: 1.333rem;
        box-sizing: border-box;
        padding-top: 0.333rem;
    }

    .mes-list {
    }

    .mes-list ul {
    }

    .mes-list ul li {
        background: #fff;
        -webkit-display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        -khtml-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        padding: 0.7rem 1.667rem;
        border-bottom: 0.083rem solid #ddd;
        font-size: 2rem;
    }

    .mes-list ul li span {
        width: 12.667rem;
        text-align: right;

    }

    .mes-list ul li #name, #age, #Telephone, #Model, #Features, #retailpirces, #datas, #Cost, #hobby, #Birthday {
        width: 100%;
        height: 4rem;
        flex: 1;
        -webkit-flex: 1;
        border-radius: 0.667rem;
        padding: 0rem 0.833rem;
        border: 0.083rem solid #ddd;
        background: none;
    }

    .mes-list ul li .shifou {
        width: 100%;
        height: 3rem;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex: 1;
        -webkit-flex: 1;
    }

    .mes-list ul li .shifou label {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        margin-right: 1.667rem;
        width: 5.333rem;
        height: 3rem;
    }

    .mes-list ul li .shifou label .radios {
        margin-left: 0.833rem;
    }

    .mes-list ul li select {
        width: 100%;
        height: 4.3rem;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex: 1;
        -webkit-flex: 1;
        background: none;
        border: 0.083rem solid #ddd;
        border-radius: 0.667rem;
    }

    .btn {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        -khtml-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        padding: 1.667rem 0rem;
        background: #f2f2f2;
    }

    .btn div a {
        display: block;
        width: 14.917rem;
        height: 4.333rem;
        background: #912941;
        text-align: center;
        line-height: 4.333rem;
        color: #FFF;
        font-size: 1.833rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
    /*三栏布局*/
    body {
        background: #f2f2f2;
        height: 100%;
        padding-top: 3.5rem;
    }

    input[type=radio] {
        z-index: 2;
        display: inline-block;
        vertical-align: middle;
        width: 1.7rem;
        height: 1.7rem;
        -webkit-appearance: none;
        background-color: transparent;
        border: 0;
        outline: 0 !important;
        line-height: 1.7rem;
        color: #d8d8d8;
    }

    input[type=radio]:after {
        z-index: 2;
        content: "";
        display: block;
        width: 1.7rem;
        height: 1.7rem;
        border-radius: 50%;
        text-align: center;
        line-height: 1.166rem;
        color: #fff;
        border: 3px solid #ddd;
        background-color: #fff;
        box-sizing: border-box;
        font-size: 1rem;
    }

    input[type=radio]:checked:after {
        z-index: 2;
        content: "L";
        transform: matrix(-0.766044, -0.642788, -0.642788, 0.766044, 0, 0);
        -webkit-transform: matrix(-0.766044, -0.642788, -0.642788, 0.766044, 0, 0);
        -ms-transform: matrix(-0.766044, -0.642788, -0.642788, 0.766044, 0, 0);
        -moz-transform: matrix(-0.766044, -0.642788, -0.642788, 0.766044, 0, 0);
        -o-transform: matrix(-0.766044, -0.642788, -0.642788, 0.766044, 0, 0);
        -khtml-transform: matrix(-0.766044, -0.642788, -0.642788, 0.766044, 0, 0);
        border-color: #099414;
        background-color: #099414;
        font-size: 1rem;
    }
    .top {
        width: 100%;
        position: fixed;
        top: 0;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        -khtml-justify-content: space-between;
        justify-content: space-between;
        padding: 1rem 1.25rem 1rem 0.833rem;
        box-sizing: border-box;
        background: #912941;
        color: #FFF;
        height: 7rem;
    }

    .top a {
        color: #FFF;
        font-size: 3rem;
    }

    .top a span {
        color: #FFF;
        font-size: 3rem;
    }

    .top span {
        font-size: 3rem;
    }

    .addclient {
        font-size: 1.333rem;
        box-sizing: border-box;
        padding-top: 0.333rem;
    }

    .mes-list {
    }

    .mes-list ul {
    }

    .mes-list ul li {
        background: #fff;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        -khtml-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        padding: 0.6rem 1.667rem;
        border-bottom: 0.083rem solid #ddd;

    }

    .mes-list ul li span {
        width: 19.667rem;
        text-align: right;
        font-size: 2.833rem;
    }

    .mes-list ul li #name, #age, #Telephone, #Model, #Features, #retailpirces, #datas, #Cost, #hobby, #Birthday {
        width: 100%;
        height: 6rem;
        flex: 1;
        -webkit-flex: 1;
        border-radius: 0.667rem;
        padding: 0rem 0.833rem;
        border: 0.083rem solid #ddd;
        background: none;
        font-size: 2.833rem;
    }

    .mes-list ul li .shifou {
        width: 100%;
        height: 6rem;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex: 1;
        -webkit-flex: 1;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
    }

    .mes-list ul li .shifou label {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        /* margin-right: 1.667rem; */
        width: 8rem;
        height: 100%;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        -khtml-justify-content: center;
        justify-content: center;
    }

    .mes-list ul li .shifou label span {
        width: 0 !important;
    }

    .mes-list ul li .shifou label .radios {
        margin-left: 3.2rem;
        height: 3.333rem;
        width: 3.333rem;
    }

    .mes-list ul li select {
        width: 100%;
        height: 6rem;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex: 1;
        -webkit-flex: 1;
        font-size: 2.833rem;
        background: none;
        border: 0.083rem solid #ddd;
        border-radius: 0.667rem;
    }

    .btn {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        -khtml-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        padding: 1.667rem 0rem;
        background: #f2f2f2;
    }

    .btn div a {
        display: block;
        width: 20.917rem;
        height: 6.333rem;
        background: #912941;
        text-align: center;
        line-height: 6.333rem;
        color: #FFF;
        font-size: 2.833rem;
    }
}
