html {
    font-size: 12px;
    height: 100%;
}

@media screen and (max-width:600px) { /*一栏布局*/
    body {
        background: #f2f2f2;
        height: 100%;
        /*padding-top: 3.833rem;*/
    }

    .top {
        width: 100%;
        /*position: fixed;*/
        /*top: 0;*/
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.25rem 1rem 0.833rem;
        box-sizing: border-box;
        background: #912941;
        color: #FFF;
    }

    .top a {
        color: #FFF;
        font-size: 1.167rem;
    }

    .top a span {
        color: #FFF;
        font-size: 1.333rem;
    }

    .top span {
        font-size: 1.167rem;
    }

    .order {
        margin-top: 0.333rem;
        background: #f2f2f2;
    }

    .pro-list {
        background: #FFF;
        display: flex;
        padding: 0.83rem 0.83rem;
        box-sizing: border-box;
        align-items: center;
        border-bottom: 0.083rem solid #ddd;
        border-top: 0.083rem solid #ddd;
        margin-bottom: 0.63rem;
    }

    .pro-list img {
        width: 6.66rem;
        height: 6.66rem;
        border: 0.083rem solid #ddd;
        margin-right: 1.333rem;
    }

    .pro-list .item-list {
        /*width: 16.66rem;*/
        display: flex;
        flex-direction: column;
    }

    .pro-list .item-list span {
        margin-bottom: 1.6rem;
        font-size: 1.3rem;
    }

    .pro-list .item-list p {
        font-size: 1.3rem;
    }

    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5.833rem;
    }
    .btn div a {
        font-size: 1.333rem;
        display: block;
        width: 12.917rem;
        height: 3.333rem;
        background: #912941;
        text-align: center;
        line-height: 3.333rem;
        color: #fff;
    }

}
@media screen and (min-width:768px) and (max-width:1024px){ /*二栏布局*/
    .top {
        width: 100%;
        position: fixed;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.25rem 1rem 0.833rem;
        box-sizing: border-box;
        background: #912941;
        color: #FFF;
        height: 5rem;
    }

    .top a {
        color: #FFF;
        font-size: 2.167rem;
    }

    .top a span {
        color: #FFF;
        font-size: 2.167rem;
    }

    .top span {
        font-size: 2.167rem;
    }
    .order {
        margin-top: 5.333rem;
        background: #f2f2f2;
    }

    .pro-list {
        background: #FFF;
        display: flex;
        padding: 0.83rem 0.83rem;
        box-sizing: border-box;
        align-items: center;
        border-bottom: 0.083rem solid #ddd;
        border-top: 0.083rem solid #ddd;
        margin-bottom: 0.63rem;
    }

    .pro-list img {
        width: 10.66rem;
        height: 10.66rem;
        border: 0.083rem solid #ddd;
        margin-right: 1.333rem;
    }

    .pro-list .item-list {
        /*width: 16.66rem;*/
        display: flex;
        flex-direction: column;
    }

    .pro-list .item-list span {
        margin-bottom: 1.6rem;
        font-size: 1.9rem;
    }

    .pro-list .item-list p {
        font-size: 1.7rem;
    }

    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5.833rem;
    }
    .btn div a {
        font-size: 2rem;
        display: block;
        width: 14.917rem;
        height: 5.333rem;
        background: #912941;
        text-align: center;
        line-height: 5.333rem;
        color: #fff;
    }
}
@media screen and (min-width:1024px) and (max-width:1400px){ /*三栏布局*/
    .top {
        width: 100%;
        position: fixed;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.25rem 1rem 0.833rem;
        box-sizing: border-box;
        background: #912941;
        color: #FFF;
        height: 7rem;
    }

    .top a {
        color: #FFF;
        font-size: 3rem;
    }

    .top a span {
        color: #FFF;
        font-size: 3rem;
    }

    .top span {
        font-size: 3rem;
    }
    .order {
        margin-top: 7.333rem;
        background: #f2f2f2;
    }

    .pro-list {
        background: #FFF;
        display: flex;
        padding: 0.83rem 0.83rem;
        box-sizing: border-box;
        align-items: center;
        border-bottom: 0.083rem solid #ddd;
        border-top: 0.083rem solid #ddd;
        margin-bottom: 0.63rem;
    }

    .pro-list img {
        width: 15.66rem;
        height: 15.66rem;
        border: 0.083rem solid #ddd;
        margin-right: 1.333rem;
    }

    .pro-list .item-list {
        /*width: 16.66rem;*/
        display: flex;
        flex-direction: column;
    }

    .pro-list .item-list span {
        margin-bottom: 1.6rem;
        font-size: 2.9rem;
    }

    .pro-list .item-list p {
        font-size: 2.7rem;
    }

    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5.833rem;
    }
    .btn div a {
        font-size: 2.667rem;
        display: block;
        width: 17.917rem;
        height: 7.333rem;
        background: #912941;
        text-align: center;
        line-height: 7.333rem;
        color: #fff;
    }
}


