html {
    font-size: 12px;
    height: 100%;
    background: #FFF;
}


@media screen and (max-width: 600px) {
    /*一栏布局*/
    body {
        background: #fff;
        height: 100%;
        /*padding-top: 7.333rem;*/
    }

    .top {
        width: 100%;
        /*position: fixed;*/
        /*top: 0;*/
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.25rem 1rem 0.833rem;
        box-sizing: border-box;
        background: #912941;
        color: #FFF;
    }

    .top a {
        color: #FFF;
        font-size: 1.167rem;
    }

    .top a span {
        color: #FFF;
        font-size: 1.333rem;
    }

    .top span {
        font-size: 1.167rem;
    }

    .order {
        /*background: #f2f2f2;*/
        padding: 0rem 1.667rem;
        margin-top: 2.5rem;

    }

    .order ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin-bottom: 1.667rem;
    }

    .order ul li input {
        flex: 1;
        width: 100%;
        padding: 0.5rem 0.667rem;
        font-size: 1.333rem;
        color: #666;
        margin-left: 0.833rem;
        border: 0.083rem solid #ddd;
        border-radius: 0.833rem;
    }

    .order ul li select {
        margin-left: 0.833rem;
        width: 100%;
        flex: 1;
        text-align: center;
        padding: 0.5rem 0.667rem;
        border: 0.083rem solid #ddd;
        background: #FFF;
        border-radius: 0.833rem;
        color: #999;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5.833rem;
    }

    .btn div a {
        font-size: 1.333rem;
        display: block;
        width: 12.917rem;
        height: 3.333rem;
        background: #912941;
        text-align: center;
        line-height: 3.333rem;
        color: #fff;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /*二栏布局*/
    body {
        background: #fff;
        height: 100%;
        /*padding-top: 10.93rem;*/
    }

    .top {
        width: 100%;
        position: fixed;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.25rem 1rem 0.833rem;
        box-sizing: border-box;
        background: #912941;
        color: #FFF;
        height: 5rem;
    }

    .top a {
        color: #FFF;
        font-size: 2.167rem;
    }

    .top a span {
        color: #FFF;
        font-size: 2.167rem;
    }

    .top span {
        font-size: 2.167rem;
    }

    .order {
        /*background: #f2f2f2;*/
        padding: 0rem 1.667rem;
        margin-top: 10.5rem;

    }

    .order ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        margin-bottom: 1.667rem;
    }

    .order ul li input {
        flex: 1;
        width: 100%;
        padding: 0.5rem 0.667rem;
        font-size: 1.333rem;
        color: #666;
        margin-left: 0.833rem;
        border: 0.083rem solid #ddd;
        border-radius: 0.833rem;
        height: 3.333rem;
    }

    .order ul li select {
        margin-left: 0.833rem;
        width: 100%;
        height: 4.667rem;
        flex: 1;
        text-align: center;
        padding: 0.5rem 0.667rem;
        border: 0.083rem solid #ddd;
        background: #FFF;
        border-radius: 0.833rem;
        color: #999;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5.833rem;
    }

    .btn div a {
        font-size: 2.167rem;
        display: block;
        width: 15.917rem;
        height: 5.333rem;
        background: #912941;
        text-align: center;
        line-height: 5.333rem;
        color: #fff;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
    /*三栏布局*/
    body {
        background: #ffff;
        height: 100%;
        /*padding-top: 16.2rem;*/
    }

    .top {
        width: 100%;
        position: fixed;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.25rem 1rem 0.833rem;
        box-sizing: border-box;
        background: #912941;
        color: #FFF;
        height: 7rem;
    }

    .top a {
        color: #FFF;
        font-size: 3rem;
    }

    .top a span {
        color: #FFF;
        font-size: 3rem;
    }

    .top span {
        font-size: 3rem;
    }

    .order {
        /*background: #f2f2f2;*/
        padding: 0rem 1.667rem;
        margin-top: 15.5rem;

    }

    .order ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.8rem;
        margin-bottom: 1.667rem;
    }

    .order ul li input {
        flex: 1;
        width: 100%;
        padding: 0.5rem 0.667rem;
        font-size: 1.333rem;
        color: #666;
        margin-left: 0.833rem;
        border: 0.083rem solid #ddd;
        border-radius: 0.833rem;
        height: 5rem;
    }

    .order ul li select {
        margin-left: 0.833rem;
        width: 100%;
        height: 7rem;
        flex: 1;
        text-align: center;
        padding: 0.5rem 0.667rem;
        border: 0.083rem solid #ddd;
        background: #FFF;
        border-radius: 0.833rem;
        color: #999;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5.833rem;
    }

    .btn div a {
        font-size: 2.833rem;
        display: block;
        width: 17.917rem;
        height: 7rem;
        background: #912941;
        text-align: center;
        line-height: 7rem;
        color: #fff;
    }
}




