html{
    font-size: 12px!important;
    background: #f2f2f2;
}
body{
    font-size: 12px;
    background: #f2f2f2;

}

.top {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 15px 12px 10px;
    box-sizing: border-box;
    background: #912941;
    color: #FFF;
}

.top a {
    color: #FFF;
    font-size: 14px;
}
.top a span{
    color: #FFF;
    font-size: 16px;
}
.top span {
    font-size: 14px;
}
.buydetails{
    padding-top: 50px;
    background: #f2f2f2;

}
.order-list{

    padding-bottom: 12px;
    background: #f2f2f2;
}
.order{
    box-sizing: border-box;
    margin: 0rem 0.6rem;
    padding: 0.83rem 0.83rem;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    background: #fff;
    border-bottom: 1px solid #f2f2f2;
    /*margin-bottom: 0.83rem;*/
}
.order span{
    margin-bottom: 0.83rem;
}

.pro-list{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 0rem 0.6rem;
    padding: 0.83rem 0.83rem;
    background: #fff;
    border-bottom: 1px solid #f2f2f2;
    /*margin-bottom: 0.5rem;*/
}
.pro-list img{
    height: 6.66rem;
    width: 6.66rem;
    border:1px solid #ddd;
    margin-right: 0.80rem;
}
.pro-mes{

    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}
.pro-mes .pirce{
    color: red;
    font-size: 1.5rem;
}
.title{
    width: 20.3rem;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.pro-mes span{
    margin-bottom: 1rem;
}
.list ul li{
    display: flex;
    justify-content: space-between;
    margin: 0rem 0.6rem;
    padding: 0.83rem 0.83rem;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #f2f2f2;
    font-size: 1.3rem;
}
.newpirce{
    color: red;
    font-size: 1.5rem;
}
.mes{
    margin-top: 10px;
    padding: 0px 10px;
    box-sizing: border-box;
}
.mes .transition{
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    font-size: 16px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.btn div a{
    font-size: 16px;
    display: block;
    width: 155px;
    height:40px;
    background:#912941;
    text-align: center;
    line-height: 40px;
    color: #FFF;
}
.gift{
    display: flex;
    padding: 0.83rem 1.6rem;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #f2f2f2;
    font-size: 1.3rem;
}
.gift select{
    text-align: center;
    font-size:16px;
    padding: 6px;
    color: #999;
}
.gif-list{
    display: flex;
    box-sizing: border-box;
    padding: 0.83rem 1.6rem;
    background: #fff;
    margin-bottom: 0.5rem;
}
.gif-list img{
    height: 6.66rem;
    width: 6.66rem;
    border: 1px solid #ddd;
    margin-right: 0.80rem;
}
.gif-list .pro-mes .title{
    padding-top: 10px;
}