html {
    height: 100%;
    font-size: 12px;

}
body {
    background: #f2f2f2;
    height: 100%;
    padding-top: 7.5rem;
}

.top {
    width: 100%;
    position: fixed;
    top: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -khtml-justify-content: space-between;
    justify-content: space-between;
    padding: 0.833rem 1.25rem 0.833rem 0.833rem;
    box-sizing: border-box;
    background: #912941;
    color: #FFF;
}

.top a {
    color: #FFF;
    font-size: 1.167rem;
}

.top a span {
    color: #FFF;
    font-size: 1.333rem;
}

.top span {
    font-size: 1.167rem;
}

.search {
    width: 100%;
    background: #FFF;
    position: fixed;
    top: 3.833rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    font-size: 1.167rem;
    padding: 0.5rem 0.833rem 0.5rem 0.833rem;
    box-sizing: border-box;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -khtml-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: center;
    align-items: center;
    border-bottom: 0.083rem solid #ddd;
}

.screen a {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -khtml-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: center;
    align-items: center;
    color: #912941;
}

.searchkuang {
    /*margin-right: 3.167rem;*/
    width: 100%;
    margin: 0rem 1.833rem;
}

.search .iconfont {
    font-size: 1.667rem;
}

.searchkuang from {
    /*padding: 0rem 3.167rem 0rem 0rem;*/
    width: 100%;
    flex: 1;
    -webkit-flex: 1;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: center;
    align-items: center;
    background: #f2f2f2;
    border-radius: 0.417rem;
    overflow: hidden;
}

.searchkuang from span {
    padding-right: 0.5rem;
    padding-left: 0.5rem;

}

.searchkuang from input {
    height: 2.5rem;
    flex: 1;
    -webkit-flex: 1;
    width: 100%;
    background: #f2f2f2;
    font-size: 1.167rem;
}

.searchsize {
    padding: 0.333rem 0.5rem;
    border: 0.083rem solid #ddd;
    width: 3.667rem;
}

.searchsize a {
    width: 100%;
    height: 100%;
}

.order {
    background: #f2f2f2;
}

.pro-list {
    background: #FFF;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -khtml-justify-content: space-between;
    justify-content: space-between;
    padding: 0.83rem 0.93rem;
    box-sizing: border-box;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: center;
    align-items: center;
    border-bottom: 0.083rem solid #ddd;
    border-top: 0.083rem solid #ddd;
    margin-bottom: 0.63rem;
}

.pro-list img {
    width: 6.66rem;
    height: 6.66rem;
    border: 0.083rem solid #ddd;
}

.pro-list .item-list {

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -khtml-flex-direction: column;
    flex-direction: column;
}

.pro-list .item-list span {
    margin-bottom: 0.3rem;
    font-size: 1.3rem;
}

.pro-list .item-list p {
    font-size: 1.3rem;
}

.title {
    /*width: 23.66rem;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn {
    border: 0.083rem solid #912941;
    padding: 0.41rem 0rem;
    background: #912941;
    width: 4.167rem;
}

.btn a {
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    color: #FFF;
}
@media screen and (max-width: 600px) {
    /*一栏布局*/
    body {
        background: #f2f2f2;
        height: 100%;
        padding-top: 7.5rem;
    }

    .top {
        width: 100%;
        position: fixed;
        top: 0;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        -khtml-justify-content: space-between;
        justify-content: space-between;
        padding: 0.833rem 1.25rem 0.833rem 0.833rem;
        box-sizing: border-box;
        background: #912941;
        color: #FFF;
    }

    .top a {
        color: #FFF;
        font-size: 1.167rem;
    }

    .top a span {
        color: #FFF;
        font-size: 1.333rem;
    }

    .top span {
        font-size: 1.167rem;
    }

    .search {
        width: 100%;
        background: #FFF;
        position: fixed;
        top: 3.833rem;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        font-size: 1.167rem;
        padding: 0.5rem 0.833rem 0.5rem 0.833rem;
        box-sizing: border-box;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        -khtml-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        border-bottom: 0.083rem solid #ddd;
    }

    .screen a {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -khtml-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        color: #912941;
    }

    .searchkuang {
        /*margin-right: 3.167rem;*/
        width: 100%;
        margin: 0rem 1.833rem;
    }

    .search .iconfont {
        font-size: 1.667rem;
    }

    .searchkuang from {
        /*padding: 0rem 3.167rem 0rem 0rem;*/
        width: 100%;
        flex: 1;
        -webkit-flex: 1;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        background: #f2f2f2;
        border-radius: 0.417rem;
        overflow: hidden;
    }

    .searchkuang from span {
        padding-right: 0.5rem;
        padding-left: 0.5rem;

    }

    .searchkuang from input {
        height: 2.5rem;
        flex: 1;
        -webkit-flex: 1;
        width: 100%;
        background: #f2f2f2;
        font-size: 1.167rem;
    }

    .searchsize {
        padding: 0.333rem 0.5rem;
        border: 0.083rem solid #ddd;
        width: 3.667rem;
    }

    .searchsize a {
        width: 100%;
        height: 100%;
    }

    .order {
        background: #f2f2f2;
    }

    .pro-list {
        background: #FFF;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        -khtml-justify-content: space-between;
        justify-content: space-between;
        padding: 0.83rem 0.93rem;
        box-sizing: border-box;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        border-bottom: 0.083rem solid #ddd;
        border-top: 0.083rem solid #ddd;
        margin-bottom: 0.63rem;
    }

    .pro-list img {
        width: 6.66rem;
        height: 6.66rem;
        border: 0.083rem solid #ddd;
    }

    .pro-list .item-list {

        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -khtml-flex-direction: column;
        flex-direction: column;
    }

    .pro-list .item-list span {
        margin-bottom: 0.3rem;
        font-size: 1.3rem;
    }

    .pro-list .item-list p {
        font-size: 1.3rem;
    }

    .title {
        /*width: 23.66rem;*/
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .btn {
        border: 0.083rem solid #912941;
        padding: 0.41rem 0rem;
        background: #912941;
        width: 4.167rem;
    }

    .btn a {
        width: 100%;
        height: 100%;
        text-align: center;
        display: block;
        color: #FFF;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /*二栏布局*/
    body {
        background: #f2f2f2;
        height: 100%;
        padding-top: 10.93rem;
    }

    .top {
        width: 100%;
        position: fixed;
        top: 0;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        -khtml-justify-content: space-between;
        justify-content: space-between;
        padding: 1rem 1.25rem 1rem 0.833rem;
        box-sizing: border-box;
        background: #912941;
        color: #FFF;
        height: 5rem;
    }

    .top a {
        color: #FFF;
        font-size: 2.167rem;
    }

    .top a span {
        color: #FFF;
        font-size: 2.167rem;
    }

    .top span {
        font-size: 2.167rem;
    }

    .search {
        width: 100%;
        background: #FFF;
        position: fixed;
        top: 5rem;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        font-size: 1.167rem;
        padding: 0rem 0.833rem 0rem 0.833rem;
        box-sizing: border-box;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        -khtml-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        border-bottom: 0.083rem solid #ddd;
        height: 5.833rem;
    }

    .screen a {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -khtml-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        color: #912941;
        width: 5.5rem;
        font-size: 1.167rem;
    }

    .searchkuang {
        /*margin-right: 3.167rem;*/
        width: 100%;
        margin: 0rem 0.833rem;
    }

    .searchkuang .iconfont {
        font-size: 2.667rem;
        margin-bottom: 0rem !important;
    }

    .search .iconfont {
        font-size: 2.667rem;
        /*margin-bottom: -1.167rem;*/
    }

    .searchkuang from {
        /*padding: 0rem 3.167rem 0rem 0rem;*/
        width: 100%;
        flex: 1;
        -webkit-flex: 1;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        background: #f2f2f2;
        border-radius: 0.417rem;
        overflow: hidden;
    }

    .searchkuang from span {
        padding-right: 1.5rem;
        padding-left: 1.5rem;

    }

    .searchkuang from input {
        height: 3.8rem;
        flex: 1;
        -webkit-flex: 1;
        width: 100%;
        background: #f2f2f2;
        font-size: 1.77rem;


    }

    .searchsize {
        height: 2.667rem;
        padding: 0.333rem 0.5rem;
        border: 0.083rem solid #ddd;
        width: 6.667rem;
        text-align: center;
        line-height: 2.667rem;
        font-size: 1.5rem;

    }

    .searchsize a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .order {
        background: #f2f2f2;
    }

    .pro-list {
        background: #FFF;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        -khtml-justify-content: space-between;
        justify-content: space-between;
        padding: 0.83rem 1.93rem;
        box-sizing: border-box;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        border-bottom: 0.083rem solid #ddd;
        border-top: 0.083rem solid #ddd;
        margin-bottom: 0.63rem;
    }

    .pro-list img {
        width: 6.66rem;
        height: 6.66rem;
        border: 0.083rem solid #ddd;
    }

    .pro-list .item-list {

        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -khtml-flex-direction: column;
        flex-direction: column;
    }

    .pro-list .item-list span {
        margin-bottom: 0.3rem;
        font-size: 1.9rem;
    }

    .pro-list .item-list p {
        font-size: 1.9rem;
    }

    .title {
        /*width: 23.66rem;*/
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .btn {
        border: 0.083rem solid #912941;
        /*padding: 0.41rem 0.83rem;*/
        background: #912941;
        width: 8.167rem;
        height: 3.5rem;
        line-height: 3.5rem;
        text-align: center;
        font-size: 1.667rem;
    }

    .btn a {
        display: block;
        color: #FFF;
        width: 100%;
        text-align: center;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
    /*三栏布局*/
    body {
        background: #f2f2f2;
        height: 100%;
        padding-top: 16.2rem;
    }

    .top {
        width: 100%;
        position: fixed;
        top: 0;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        -khtml-justify-content: space-between;
        justify-content: space-between;
        padding: 1rem 1.25rem 1rem 0.833rem;
        box-sizing: border-box;
        background: #912941;
        color: #FFF;
        height: 7rem;
    }

    .top a {
        color: #FFF;
        font-size: 3rem;
    }

    .top a span {
        color: #FFF;
        font-size: 3rem;
    }

    .top span {
        font-size: 3rem;
    }

    .search {
        width: 100%;
        background: #FFF;
        position: fixed;
        top: 7rem;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        font-size: 1.167rem;
        padding: 0rem 0.833rem 0rem 0.833rem;
        box-sizing: border-box;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        -khtml-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        border-bottom: 0.083rem solid #ddd;
        height: 9rem;
    }

    .screen a {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -khtml-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        color: #912941;
        width: 5.5rem;
        font-size: 2.5rem;
    }

    .searchkuang {
        /*margin-right: 3.167rem;*/
        width: 100%;
        margin: 0rem 0.833rem;
    }

    .searchkuang .iconfont {
        font-size: 2.667rem;
        margin-bottom: 0rem !important;
    }

    .search .iconfont {
        font-size: 4.667rem;
        /*margin-bottom: -1.667rem;*/
    }

    .searchkuang from {
        /*padding: 0rem 3.167rem 0rem 0rem;*/
        width: 100%;
        flex: 1;
        -webkit-flex: 1;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        background: #f2f2f2;
        border-radius: 0.417rem;
        overflow: hidden;
    }

    .searchkuang from span {
        padding-right: 1.5rem;
        padding-left: 1.5rem;

    }

    .searchkuang from input {
        height: 6rem;
        flex: 1;
        -webkit-flex: 1;
        width: 100%;
        background: #f2f2f2;
        font-size: 2.77rem;


    }

    .searchsize {
        height: 4.167rem;
        padding: 0.333rem 0.5rem;
        border: 0.083rem solid #ddd;
        width: 10.667rem;
        text-align: center;
        line-height: 4.167rem;
        font-size: 2.5rem;

    }

    .searchsize a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .order {
        background: #f2f2f2;
    }

    .pro-list {
        background: #FFF;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        -khtml-justify-content: space-between;
        justify-content: space-between;
        padding: 0.83rem 1.93rem;
        box-sizing: border-box;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -khtml-align-items: center;
        align-items: center;
        border-bottom: 0.083rem solid #ddd;
        border-top: 0.083rem solid #ddd;
        margin-bottom: 0.63rem;
    }

    .pro-list img {
        width: 6.66rem;
        height: 6.66rem;
        border: 0.083rem solid #ddd;
    }

    .pro-list .item-list {

        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -khtml-flex-direction: column;
        flex-direction: column;
    }

    .pro-list .item-list span {
        margin-bottom: 0.3rem;
        font-size: 2.7rem;
    }

    .pro-list .item-list p {
        font-size: 2.7rem;
    }

    .title {
        /*width: 23.66rem;*/
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .btn {
        border: 0.083rem solid #912941;
        /*padding: 0.41rem 0.83rem;*/
        background: #912941;
        width: 10.167rem;
        height: 5.083rem;
        line-height: 5.083rem;
        text-align: center;
        font-size: 2.667rem;
    }

    .btn a {
        display: block;
        color: #FFF;
        width: 100%;
        text-align: center;
    }
}



