body {
    background: #f2f2f2;
    font-size: 12px;
    height: 100%;
}

.top {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.25rem 1rem 0.833rem;
    box-sizing: border-box;
    background: #912941;
    color: #FFF;
}

.top a {
    color: #FFF;
    font-size: 1.167rem;
}
.top a span{
    color: #FFF;
    font-size: 1.333rem;
}
.top span {
    font-size: 1.167rem;
}

.index {
    padding-top: 1.667rem;
    margin: 0rem 1.667rem;
}

.head {
    box-sizing: border-box;
    padding: 1rem 0.833rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f2f2f2;
    font-size: 1.5rem;
}

.head #admin p {
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    padding: 0rem 0rem 0rem 0.833rem;
}


.logo img {
    width: 6.667rem;
    height: 4.167rem;
}

.icon-list {
    margin-top: 2.333rem;

}

.icon-list ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-list ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.icon-list ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 0.083rem solid #000;*/
    border-right: 0.083rem solid #f2f2f2;
    border-bottom: 0.083rem solid #f2f2f2;
    /*padding:2.5rem 1.25rem 2.5rem 0.833rem;*/
    background: #FFF;
    width: 7.667rem;
    height: 7.667rem;
}
.icon-list ul li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-list ul .none-list {
    border-right: none;
}

.icon-list ul .none-item {
    border-bottom: none;
}

.icon-list ul li .iconfont {
    font-size: 3.5rem;
    color: #912941;
}

#returns {
    display: none;
}

#returns .sanjiao {
    width: 0;
    border: 0.667rem solid rgba(0, 0, 0, 0.5);
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    right: 2.5rem;
    top: 5.167rem;
}

.tuichu a{
    display: block;
    width: 7.167rem;
    height: 3rem;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 1.333rem;
    top: 6.5rem;
    text-align: center;
    line-height: 3rem;
    font-size: 1.333rem;
    color: #FFF;
    font-weight: normal;
}